* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nutito;
}

body {
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  //overflow-x: hidden;
}

// Wrapper chứa Header để có thể định vị tuyệt đối icon menu
.header-wrapper {
  position: relative;
}

// Navigation cho Desktop
.nav {
  ul {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: flex-end;
    margin-top: 40px;
    padding: 0;

    li {
      position: relative;
      padding: 10px;
      cursor: pointer;
      font-weight: bold;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 100%;
        height: 4px;
        background-color: #0093f5;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
      }

      &:hover {
        color: #0093f5;
      }
      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
}

// Nút Đăng Nhập & Đăng Ký (Desktop)
.header-lg {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: flex-end;
}

.btn-login,
.btn-register {
  width: 150px;
  height: 44px;
  border-radius: 12px;
  padding: 0 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-login {
  border: 1px solid #0093f5;
  background-color: #0093f5;
  box-shadow: 0px 3px 0.5px 0.2px #017ed2;
  color: #fff;
}
.btn-login:hover {
  background-color: #017ed2;
  border-color: #017ed2;
}

.btn-register {
  border: 1px solid #a8aaae;
  background-color: #fff;
  box-shadow: 0px 2px 0.5px 0.2px #a5a3ae99;
  color: #a8aaae;
}
.btn-register:hover {
  background-color: #a8aaae;
  color: #fff;
}

// Container Icon Menu (Mobile)
.menu-icon-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2000;
}

// Mobile Menu
.mobile-menu {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    li {
      padding: 12px;
      font-size: 18px;
      border-bottom: 1px solid #ddd;
      cursor: pointer;
      &:hover {
        background: #e9ecef;
      }
    }
  }
}

// Body
.home-body {
  .home-body-row {
    margin: 0;
  }
}
.banner {
  position: relative;
  max-width: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.banner_text {
  padding: 20px;
  position: absolute;
  width: 500px !important;
  left: 8%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;

  .banner-text-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44.46px;
    letter-spacing: 0.25px;
    color: #0093f5;
  }

  .banner-text-content {
    font-weight: 500;
    font-size: 20px;
    line-height: 32.74px;
  }

  button {
    font-size: 18px;
    width: 199px;
    height: 44px;
    border-radius: 12px;
    padding: 0 20px;
    box-shadow: 0px 3px 0.5px 0.2px #017ed2;
    color: white;
    background-color: #0093f5;
    border: 1px solid #0093f5;
  }
}
.text-title {
  padding-top: 30px;
  text-align: center;
  p {
    font-weight: 800;
    font-size: 32px;
    line-height: 37.34px;
    letter-spacing: 0px;
    color: #0093f5;
    text-transform: uppercase;
  }
}
.body-text {
  margin: 40px !important;
  .body-img {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
.body-mct {
  display: flex;
  align-items: center;
}
.body-mct-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  details {
    border: 1px solid #5e9ff9;
    // padding: 10px;
    border-radius: 5px;
  }

  summary {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .summary-text {
      i {
        color: #0093f5;
      }
    }
  }

  details[open] {
    background-color: #eaf4ff;
  }

  .content {
    padding: 10px;
    font-size: 14px;
  }
}

// Responsive
@media (max-width: 768px) {
  .header-lg {
    display: none;
  }
  .banner_text {
    left: 0;
    top: 40%;
    .banner-text-title {
      font-size: 28px;
    }
    .banner-text-content {
      font-size: 20px;
    }
    button {
      font-size: 15px;
      width: 150px;
      height: 45px;
    }
  }
  /* body */
  .body-text {
    margin: 220px 0px 40px 0px !important;
    .text-title p {
      font-size: 23px;
    }
    .body-img {
      width: 100%;
    }
  }
  .body-mct {
    display: flex !important;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    .body-mct-text {
      width: 100%;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .banner_text {
    top: 22%;
    left: 2%;
  }
}

footer {
  background-color: #eaf4ff;
  //width: 100%;
  //height: ;
  display: flex;
  flex-direction: column;
  gap: 100px;
  .footer-Information {
    margin: 0 50px;
    padding-top: 113px;
    gap: 120px;
    .footer-Information-right {
      .logo {
        display: flex;
        .logo-content {
          margin-top: 21px;
          margin-left: 11px;
          font-weight: 700;
          font-size: 30px;
          color: #5e9ff9;
        }
      }
      .footer-contact1 {
        display: flex;
        gap: 1px;
        i {
          width: 24px;
          height: 24px;
          color: #0093f5;
        }
        span {
          align-items: center;
        }
      }
    }
    .footer-Information-middle {
      display: flex;
      flex-direction: column;
      width: 170px;
      gap: 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 22.4px;
      letter-spacing: 0.15px;
      a {
        text-decoration: none;
        color: #212121;
      }
    }
    .footer-Information-left {
      display: flex;
      gap: 16px;
      .icon-facebook {
        width: 40px;
        height: 40px;
        background-color: #1877f2;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: white;
          font-size: 24px;
        }
      }
      .icon-youtube {
        width: 40px; /* Kích thước vòng tròn */
        height: 40px;
        background-color: #ff0000; /* Màu đỏ YouTube */
        border-radius: 50%; /* Biến thành hình tròn */
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: white; /* Màu trắng cho icon */
          font-size: 24px; /* Kích thước icon */
        }
      }
      .icon-tiktok {
        width: 40px; /* Kích thước vòng tròn */
        height: 40px;
        background-color: #000; /* Màu đen TikTok */
        border-radius: 50%; /* Biến thành hình tròn */
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: white; /* Màu trắng cho icon */
          font-size: 24px; /* Kích thước icon */
        }
      }
    }
  }
  .footer-copyright {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.15px;
    color: #212121;
  }
}
